<html ng-app="nameApp">
    <head>
        <meta charset="utf-8">
        <title>AngularJS Lab Task-1 </title>
    </head>
    <body ng-controller="NameCtrl">
        <ul>
            <li ng-repeat="name in names">{{name}}</li>
        </ul>
        <form ng-submit="addName()">
            <input type="text" ng-model="enteredName" required>
            <input type="submit" value="add">
        </form>
    	<script src="angular-1.3.14.js"></script>
        <script>
            var nameApp = angular.module('nameApp', []);
            nameApp.controller('NameCtrl', function ($scope){
                $scope.names = ['David', 'John', 'Paul', 'Mark', 'Christopher', 'Williams'];
                $scope.addName = function() {
                    var lowerNames = $scope.names.map(v => v.toLowerCase());
                    if( lowerNames.includes($scope.enteredName.toLowerCase())){
                        alert('The name already exists!');
                    }
                    else {
                        $scope.names.push($scope.enteredName);
                        $scope.enteredName = ""; //clear the field
                    }
                };
            });
        </script>
    </body>
</html>
