<html ng-app="nameApp">
    <head>
        <meta charset="utf-8">
        <title>AngularJS Lab Task-1 </title>
    </head>
    <body ng-controller="NameCtrl">
        <ul>
            <li ng-repeat="name in names">{{name}}</li>
        </ul>
        <form ng-submit="addName()">
            <input type="text" ng-model="enteredName" required>
            <input type="submit" value="add">
        </form>
    	<script src="assets/angular-1.3.14.js"></script>
        <script src="assets/base.js"></script>
    </body>
</html>
