<html>
<title>AngularJS Directives:: init, repeat</title>
<body>
	<h1></h1>
	<div ng-app="" ng-init="countries=[{Country_Name:'Arab World',Country_Code:'ARB',Year:'1960',Value:'93485943'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1961',Value:'96058179'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1962',Value:'98728995'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1963',Value:'101496308'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1964',Value:'104359772'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1965',Value:'107318159'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1966',Value:'110379639'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1967',Value:'113543760'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1968',Value:'116787194'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1969',Value:'120078092'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1970',Value:'123400916'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1971',Value:'126726106'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1972',Value:'130095625'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1973',Value:'133592409'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1974',Value:'137327448'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1975',Value:'141376124'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1976',Value:'145768518'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1977',Value:'150474227'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1978',Value:'155422735'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1979',Value:'160508834'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1980',Value:'165653287'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1981',Value:'170835489'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1982',Value:'176068130'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1983',Value:'181346070'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1984',Value:'186631963'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1985',Value:'192047001'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1986',Value:'197522280'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1987',Value:'202985205'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1988',Value:'208460437'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1989',Value:'213911862'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1990',Value:'221488293'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1991',Value:'227470711'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1992',Value:'231443007'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1993',Value:'237333236'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1994',Value:'243241854'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1995',Value:'250504422'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1996',Value:'255932514'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1997',Value:'261245142'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1998',Value:'266504558'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'1999',Value:'271911978'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'2000',Value:'277550423'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'2001',Value:'283470089'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'2002',Value:'289647968'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'2003',Value:'296095945'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'2004',Value:'302824676'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'2005',Value:'309824383'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'2006',Value:'317125787'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'2007',Value:'324693498'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'2008',Value:'332424892'},
		{Country_Name:'Arab World',Country_Code:'ARB',Year:'2009',Value:'340149038'}]
">
		<p>Enter your Name: <input type="text" ng-model="countriesList"></p>
		<p>Hello <span ng-bind="countriesList"></span>!</p>
		<p>List of Countries with locale:</p>
		<table border="1" cellpadding="1px">
			<thead>
				<tr>
					<th>Country</th>
					<th>Code</th>
					<th>Year</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="country in countries">
				   <td>{{ country.Country_Name }}</td>
				   <td>{{ country.Country_Code }}</td>
				   <td>{{ country.Year }}</td>
				   <td>{{ country.Value }}</td>
			   </tr>
			</tbody>
		</table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  </body>
</html>
